/* Import Web Font */
@import url('https://fonts.googleapis.com/css?family=Lato');

/* Variables to change widths and padding using media queries */
:root {
    --form-width: 80%;
    --form-padding--left: 10%;
}

@media screen and (max-width: 768px) {
    :root {
        --form-width: 90%;
        --form-padding--left: 5%;
    }
}

@media screen and (max-width: 450px) {
    :root {
        --form-width: 100%;
        --form-padding--left: 0%;
    }
}


/* Global Declarations  */

body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
}

label {
    margin-bottom: 25px;
    margin-top: 10px;
}

/* Class based styling */

.main-form {
    display: flex;
    flex-direction: column;
    width: var(--form-width);
    margin-left: var(--form-padding--left);
    /* justify-content: center; */
    align-items: center;
    border: 2px solid black;
    margin-top:20px;
    background: #f4f4f4;
    box-shadow: -15px 15px 20px rgb(21, 129, 179);
}

/* ID based styling */

#survey-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    /* flex-wrap: nowrap; */
}

#description {
    font-size: 20px;
}

#submit {
    background: rgb(21, 129, 179);
}

#dropdown, .radioButtons, #message, .checkButtons {
    margin-bottom: 25px;
}